.main-css{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.heading-css{
    padding-left: 17%;
}
.form-main-css{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}
.upload-div{
    width: 30%;
    /* height: 330px; */
    aspect-ratio: 1/1;
}
.upload-css{
    border-radius: 10px;
    border-style: dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #224957;
    opacity: 0.8;
}
.image-css{
    border-radius: 10px;
    border-style: solid;
    width: 100%;
    height: 100%;
}
.form-css{
    order: 2;
    max-width: 50%;
    height: 100%;
}
.input-css{
    color: white;
    background-color: #224957 !important;
    border-color: #224957 !important;
    opacity: 0.8;
}
.input-css-title{
    width: 362px;
    height: 45px;
    gap: 0px;
    border-radius: 10px;
}
.input-css-publishedyear{
    width: 216px;
    height: 45px;
    gap: 0px;
    border-radius: 10px;
}
.input-css::placeholder {
    color: white;
    opacity: 1;
    font-size: small;
    font-weight: 200;
    font-family: 'Montserrat', !important;
}
.input-css:focus{
    color: white;
    outline: none;
    box-shadow: none;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

button.submit-btn{
    width: 47%;
    color: white;
    background-color: #2BD17E;
    justify-items: flex-end;
}
button.submit-btn:hover{
    border-color: #2BD17E;
    color: #2BD17E;
}
.reset-cancel-btn{
    width: 47%;
    color: white;
    background-color: #093545 !important;
    border-color: white;
    justify-items: flex-start;
    border-radius: 10px;
}
.reset-cancel-btn:hover{
    background-color: white !important;
    color: #093545;
}

/* Media Queries */

@media only screen and (max-width: 600px) {

    .main-css{
        padding: 5%;
    }

    .heading-css{
        padding: 0%;
        font-size: 29px !important;
        font-weight: 600 !important;
        line-height: 40px !important;
        align-self: flex-start;
    }

    .form-main-css{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .upload-div{
        width: 100%;
        height: 150%;
    }

    .upload-css{
        border-radius: 10px;
        border-style: dotted;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #224957;
        opacity: 0.8;
    }

    .form-css{
        min-width: 100%;
        height: 100%;
    }

    .input-css-title{
        width: 100%;
        height: 45px;
        border-radius: 10px;
    }
    .input-css-publishedyear{
        width: 100%;
        height: 45px;
        gap: 0px;
        border-radius: 10px;
    }
}