/* .movie-list-main-css {
    padding: 5% 4% 4% 4%;
} */

.movies-div{
    justify-content: center;
}

.movie-div{
    background-color: #092C39;
    width: 282px;
    height: 504px;
    margin-left: 15px;
    /* top: 55px; */
    /* left: 80px; */
    position: relative;
    border: none;
    border-radius: 12px;
}

.movie-div:hover, .movie-div:hover > .movie-div-card, .movie-div-card:hover {
    background-color: #224957;
}

.movie-div-card{
    background: #092C39;
    border: none
}

.movie-img{
    width: 260px;
    height: 400px;
    top: 11px;
    /* left: 8px; */
    border-radius: 12px;
    position: inherit;
}

.movie-nav-element{
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center
}

.movie-nav-square{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #092C39;
}

.movie-nav-square-active{
    background-color: #2BD17E;
}

.pagination-disabled{
    pointer-events: none;
    opacity: 0.5;
}

.create-movie-btn { 
    margin-top: 3%;
    cursor: pointer;
    width: 28px; 
    height: 28px; 
    border: 2px solid white;
    border-radius: 50%; 
    color: white; 
    text-align: center; 
    text-decoration: none;
} 