.heading-css{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.movie-list-main-css {
    padding: 6% 8% 6% 8%;
}

.movies-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-div{
    background-color: #092C39;
    flex: 0 1 22%;
    position: relative;
    border: none;
    border-radius: 12px;
    margin-bottom:  1.5rem;
    margin-right:  1rem;
}

.movie-div:nth-child(4n+4) { margin-right: 0; }

.movie-div:hover, .movie-div:hover > .movie-div-card, .movie-div-card:hover {
    background-color: #224957;
}

.movie-div-card{
    background: #092C39;
    border: none;
}

.movie-img{
    width: 100%;
    padding: 3%;
    border-radius: 12px;
    aspect-ratio: 2/3;
}

.movie-title-css{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.movie-nav-element{
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center
}

.movie-nav-square{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #092C39;
}

.movie-nav-square-active{
    background-color: #2BD17E;
}

.pagination-disabled{
    pointer-events: none;
    opacity: 0.5;
}

.create-movie-btn { 
    margin-top: 3%;
    cursor: pointer;
    width: 28px; 
    height: 28px; 
    border: 2px solid white;
    border-radius: 50%; 
    color: white; 
    text-align: center; 
    text-decoration: none;
} 

.logout-css{
    cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .movie-list-main-css {
        padding: 7% 4% 3% 4%;
    }
    .heading-css{
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
    }
    .logout-text{
        display: none;
    }
    .movies-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .movie-div{
        background-color: #092C39;
        flex: 0 1 48%;
        height: 334px;
        position: relative;
        border: none;
        border-radius: 12px;
        margin-bottom:  0.5rem;
        margin-right:  0;
    }
    .movie-img{
        width: 100%;
        height: 100%;
        margin-top: 0%;
        left: 0px;
        border-radius: 12px;
        aspect-ratio: 2/3;
    }
    .movie-title-css{
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
    }
}