.login_box {
    width: 340px;
    background-color:#093545;
}
.checkbox-css {
    accent-color: #2BD17E;
    font-weight: 400;
}
.checkbox-css::before{
    background-color:green;
}

/* Hide the browser's default checkbox */
.container input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    height: 14px;
    width: 14px;
    background-color: #224957;
    border-radius: 5px;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2BD17E;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: flex;
}

.container .checkmark:after {
    margin: auto;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-css{
    color: white;
    background-color: #224957 !important;
    border-color: #224957 !important;
    opacity: 0.8;
}
.input-css::placeholder {
    color: white;
    opacity: 1;
    font-size: small;
    font-weight: 200;
    font-family: 'Montserrat', !important;
}
.input-css:focus{
    color: white;
    outline: none;
    box-shadow: none;
}
button.login-btn{
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2BD17E !important;
}
.wrapper {
    text-align: center;
}
.password-div{
    width: 100%;
    position: relative;
}
.eye-css{
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 10px;
}